* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.playground {
    width: 90%;
    min-width: 400px;
    height: 90%;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    

    .minion {
        width: 100px;
        height: 120px;
        min-height: 110px;
        background-color: lightgreen;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;

        .eyes {
            width: 10px;
            height: 10px;
            background-color: #000;
            border-top-left-radius: 40%;
            border-top-right-radius: 40%;
            position: absolute;

            &:nth-child(1){
                top: 50px;
                left: 30px;
            }
            &:nth-child(2){
                top: 50px;
                right: 30px;
            }
        }

        .mouth {
            position: absolute;
            width: 50px;
            height: 20px;
            background-color: darkred;
            top: 80px;
            left: calc(50% - 25px);
            border-bottom-left-radius: 40%;
            border-bottom-right-radius: 40%;
            transition: all .05s;

            
            
        }

        &:active .mouth{
            height: 1px;
            background-color: #000;
        }
    }    
}

@keyframes mouth {
    0% {
        height: 20px;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
    }
    50% {
        height: 1px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    100% {
        height: 20px;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
    }
}